# Archivos de base de datos


# Directorios de residuos
residuos/

# Backend
venv/
__pycache__/
*.pyc
.env
.txt

# Frontend
node_modules/
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Archivos de respaldo de la sincronización
backend/services/sync_service_30B.py
backend/services/sync_service_ba.py

# Archivos de entorno con claves
frontend/.env.development
frontend/.env.production

# PROJECT DE EJEMPLO
proyecto_anterior/
